# Payment Verification

## Payment Verification 

**Purpose**: the right beneficiary to receive the correct amount.

Verification receipt to be solely confirmed by the Head of Household

Representative can be a beneficiary as they may be under the same household as the head of house. They may also not be under the same household.

Focal Point \(UNHCR\) - Head of Household

Representative - Secondary Recipient

Reconciliation - Cross compare lists for "payment offered" lists and "payment received" lists for variances.

Consumable Verification Files - importable files from external sources for the system to ingest. Could be done through RapidPro

Payment - A single installment or transaction from agency to beneficiary.

Payment List - List of payments sent to FSP

Investigation - conducted by third party, when a variance is found during reconciliation.

#### Flagging:

* Account Flagging - No longer eligible, etc.
* Payment Flagging - ie: Missing Payment, incorrect amount, etc.

Flags for beneficiaries to indicate notes on account \(ie: Ben. no longer living, missing payment, etc.\) - !! Flags can be applied to payment related

Payments can potentially be collected by others in a household.

Ideal outcome: RapidPro for most of the users is ideal if we can make it happen. PDM is happening in the field all the time though.

