{% extends "admin_extra_buttons/change_form.html" %}{% load accounts i18n static %}
{% block object-tools-items %}
    {{ block.super }}
    {% if request|is_root %}
        <li><a href="#"
               style="background-color: chocolate"
               class="btn extra-link btn-action btn-danger" data-hijack-user="{{ original.pk }}"
                data-hijack-next="{{ next }}" data-hijack-url="{% url 'hijack:acquire' %}">
                Impersonate
        </a></li>
    {% endif %}

{# {% include "admin_extra_buttons/includes/change_form_buttons.html" %} #}
{% endblock object-tools-items %}
