.pager{
    padding: 10px;
    margin-bottom: 20px;
}
table.diff, table.diff td {
    font-family: monospace, sans-serif;
}
table.diff{
    font-size: 14px;
    border: medium;
    width: 100%;
}
table.diff td {
    font-size: 16px;
}

.diff_header {
    font-weight: bold;
}

td.diff_header {
    text-align: right
}

.diff_next {
    display: none;
}

.diff_add {
    background-color: #aaffaa
}

.diff_chg {
    background-color: #ffff77
}

.diff_sub {
    background-color: #ffaaaa
}
