{% extends "admin_extra_urls/action_page.html" %}
{% block object-tools-items %}
    {% load extra_urls i18n static admin_list admin_urls %}

    {% for urlattrs in adminform.model_admin.extra_actions %}
        {% if 'DOAP' in urlattrs.label %}
            {% bind urlattrs as options %}
            {% include "admin_extra_urls/includes/button.html" with options=options %}
        {% endif %}
    {% endfor %}

{% endblock %}
{% block action-content %}
    <h1>{{ original }}</h1><table><tr>
    {% for h in headers %}
        <th>{{ h }}</th>
    {% endfor %}</tr>

    {% for r in rows %}<tr>
        {% for field_name, c in r.items %}
            {% if field_name == "signature" or field_name == "hash"  %}
                <td style="display: none">{{ field_name }}: {{ c }}</td>
            {% else %}
                <td>{{ c }}</td>
            {% endif %}
        {% endfor %}
    </tr>{% endfor %}

{#    {% for r in matrix %}<tr>#}
{#        {% for c in r %}<td>{{ c }}</td>{% endfor %}#}
{#    {% endfor %}</tr>#}
</table>
{% endblock %}
