{% extends "admin_extra_urls/action_page.html" %}
{#{% block object-tools-items2 %}#}
{#    {% load extra_urls i18n static admin_list admin_urls %}#}
{##}
{#    {% for urlattrs in adminform.model_admin.extra_actions %}#}
{#        {% if 'DOAP' in urlattrs.label %}#}
{#            {% bind urlattrs as options %}#}
{#            {% include "admin_extra_urls/includes/button.html" with options=options %}#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#{% endblock %}#}
{% block content_title %}
    <h1>{{ original }} - Last sync: {{ original.custom_fields.hope.last_doap_sync }}</h1>
{% endblock %}
{% block action-content %}


    <table><tr>
    {% for h in headers %}
        <th>{{ h }}</th>
    {% endfor %}</tr>

    {% for r in rows %}<tr>
        {% for field_name, c in r.items %}
            {% if field_name == "signature" or field_name == "hash"  or field_name == 'values' %}
                <td style="display: none">{{ field_name }}: {{ c }}</td>
            {% else %}
                <td>{{ c }}</td>
            {% endif %}
        {% endfor %}
    </tr>{% endfor %}

{#    {% for r in matrix %}<tr>#}
{#        {% for c in r %}<td>{{ c }}</td>{% endfor %}#}
{#    {% endfor %}</tr>#}
</table>
{% endblock %}
