{
  "extends": ["@tivix/eslint-config/typescript-react"],

  "ignorePatterns": ["src/__generated__/"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowTypedFunctionExpressions": true,
        "allowExpressions": true,
        "allowHigherOrderFunctions": true
      }
    ],
    "@typescript-eslint/prefer-optional-chain": "warn",
    "react/jsx-max-props-per-line": 0,
    "react/destructuring-assignment": 1
  }
}
