{% extends "admin/publish/_publish_base.html" %}
{% block action-content %}
    <div style="margin:10px">
        Proceeding you will download production configuration from <strong>{{ server }}</strong>
    </div>

    {% if prod_credentials.username %}
        <div style="margin:10px">
            You are currently logged in as <strong>{{ prod_credentials.username }}</strong>
            (<a href="{{ prod_logout }}?from={{ request.path }}">Change user</a>)
        </div>
    {% endif %}
    <div style="margin-top:50px">
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="default" value="Load">
        <input type="button" value="Cancel" onclick="javascript:history.back()">
    </form>
    </div>
{% endblock %}
