{% extends "admin/publish/_publish_base.html" %}
{% block action-content %}
    {% if prod_credentials.username %}
        <h3> You are currently logged in as <pre>{{ prod_credentials.username }}</pre></h3>
        <a href="{{ prod_logout }}">Change user</a>
    {% else %}
        {{ login_url }}
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Login">
        </form>
    {% endif %}
{% endblock %}
