{% extends "admin_extra_buttons/action_page.html" %}{% load admin_modify admin_urls hope i18n static %}
{% block action-content %}
    {% if mixed_household %}
        <h1>Error: Households from different BusinessAreas have been detected</h1>
        <input type="button"
               onclick="window.location.href='.'"
               value="Back"
               class="btn btn-default">

    {% else %}
        <form method="post">{% csrf_token %}
            <table>
                {{ form }}
            </table>
            {% if request.POST.apply %}
                <div class="content">
                    You are going to create a new TargetPopulation
                    '<strong>{{ form.name.value }}</strong>' with {{ population.count }} Households
                    for <strong>{{ program.business_area }}</strong>.
                </div>
            {% endif %}
            <div class="submit-row">
                {% if request.POST.apply %}
                    <input type="submit"
                           name="confirm"
                           value="Create"
                           class="btn btn-default">
                {% else %}
                    <input type="submit"
                           name="apply"
                           value="Preview"
                           class="btn btn-default">
                {% endif %}
            </div>
        </form>
    {% endif %}

{% endblock action-content %}
