{% extends 'admin/base_site.html' %}
{% load hope i18n admin_urls static admin_modify %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {% if step == "1" %}
        <input type="hidden" name="step" value="2">
        <form method="post">{% csrf_token %}
        <div>
          <label for="program_id">Program ID (encoded):</label>
          <input type="text" id="program_id" name="program_id" required>
        </div>
        <br/>
        <div>
          <label for="household_list">Household IDs:</label><br/><br/>
          <textarea id="household_list" name="household_list" required rows="8" cols="100"></textarea>
        </div>
        <br/>
        <div>
          <label for="tag">Tag:</label>
          <input type="text" id="tag" name="tag" required>
        </div>
        <br/>
        <button type="submit">Submit</button>
        </form>
    {% elif step == "2" %}
        <input type="hidden" name="step" value="3">
        <input type="hidden" name="household_list" value="{{ household_list }}">
        <input type="hidden" name="tag" value="{{ tag }}">
        <input type="hidden" name="program_id" value="{{ program_id }}">
        <p>This action will result in withdrawing {{ household_count }} households</p>
        <button type="submit">Confirm</button>
    {% endif %}
</form>
{% endblock content %}
