SECRET_KEY=SOME_KEY_HERE
ENV=dev
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_CASHASSIST_DATAHUB_DB=postgres
POSTGRES_CASHASSIST_DATAHUB_USER=postgres
POSTGRES_CASHASSIST_DATAHUB_PASSWORD=
POSTGRES_CASHASSIST_DATAHUB_HOST: "cash_assist_datahub_db"
POSTGRES_REGISTRATION_DATAHUB_DB=postgres
POSTGRES_REGISTRATION_DATAHUB_USER=postgres
POSTGRES_REGISTRATION_DATAHUB_PASSWORD=
POSTGRES_REGISTRATION_DATAHUB_HOST=registration_datahub_db
POSTGRES_SSL_MODE=off
EMAIL_HOST=TBD
EMAIL_HOST_USER=TBD
EMAIL_HOST_PASSWORD=TBD
MAP_BOX_KEY=MAP_BOX_KEY_HERE
DJANGO_ALLOWED_HOST=127.0.0.1  # Optional, defaults to localhost
HCT_MIS_FRONTEND_HOST=127.0.0.1:8080  # Optional, defaults to DJANGO_ALLOWED_HOST
