.*
~*
!.dockerignore
!.dockerignoredo
!.git
!.python-version
!.github/.
!.gitignore
!.pre-commit-config.yaml
!.semgrep

!tests/.coveragerc
!docs/**/.pages

junit.xml
coverage.xml
src/hope/version.py
src/hope/static

__pycache__

*.egg-info

node_modules/
dist/

tests/build/
archive/
data/
debug.log

.claude
.serena
