exclude *
exclude __pycache__
exclude node_modules

include README.md
include MANIFEST.in
include AUTHORS
include CHANGES.md
include LICENSE.md
include pyproject.toml
include *.py
include uv.lock


recursive-include src/hope *
recursive-include src/hope *.html
recursive-include src/hope *.json

recursive-exclude src/**/node_modules *.*
