{% load i18n %}
<a href="{{ url_migrations }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_migrations %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">sync</span>
    {% translate 'Migrations' %}
</a>
<a href="{{ url_sysinfo }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_sysinfo %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">info</span>
    {% translate 'System Info' %}
</a>
<a href="{{ url_email }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_email %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">mail</span>
    {% translate 'Test Email' %}
</a>
<a href="{{ url_sentry }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_sentry %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">bug_report</span>
    {% translate 'Sentry' %}
</a>
<a href="{{ url_error_page }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_error_page %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">error</span>
    {% translate 'Error Pages' %}
</a>
<a href="{{ url_redis }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_redis %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">memory</span>
    {% translate 'Redis CLI' %}
</a>
<a href="{{ url_elasticsearch }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_elasticsearch %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">search</span>
    {% translate 'Elasticsearch' %}
</a>
<a href="{{ url_clear_cache }}" class="font-medium text-sm px-3 py-2 rounded-default border shadow-xs inline-flex items-center justify-center gap-1.5 {% if request.path == url_clear_cache %}bg-primary-600 border-transparent text-white hover:bg-primary-600/80{% else %}border-base-200 bg-white text-important dark:border-base-700 dark:bg-transparent hover:bg-base-100/80 dark:hover:bg-base-800/80{% endif %}">
    <span class="material-symbols-outlined !text-[18px]">delete_sweep</span>
    {% translate 'Clear Cache' %}
</a>
