{% extends "admin/base_site.html" %}{% load i18n static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock extrastyle %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
        {{ title }}
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="module" id="changelist">
        <div class="changelist-form-container {% block left-class %}{% endblock %}">
            {% block left %}
            {% endblock left %}
        </div>
        {% block right %}
        {% endblock right %}
    </div>
{% endblock content %}
