{
    "env": {
      "browser": true,
      "cypress/globals": true
    },
    "extends": [
      "plugin:cypress/recommended",
      "plugin:mocha/recommended"
    ],
    "rules": {
      "mocha/no-mocha-arrows": "off",
      "cypress/no-unnecessary-waiting": "off" // TODO
    }
}
  