[run]
source = .
omit =
	# omit all the migrations
	*migrations*
	# omit all the t snapshots
	*snapshots*
plugins = django_coverage_plugin

[report]
fail_under = 100
show_missing = True
skip_covered = True
