[run]
branch = True
source = hct_mis_api
concurrency=multiprocessing

omit =
        */tests/**
        */migrations/*,
        */apps.py,
        hct_mis_api/one_time_scripts/*,
        hct_mis_api/libs/*,
        hct_mis_api/settings/*,
        hct_mis_api/settings.py,
        hct_mis_api/apps/core/management/commands/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no-cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:

fail_under = 71

ignore_errors = False

[html]
directory = ~build/coverage
