{% extends "admin_extra_buttons/action_page.html" %}{% load admin_modify admin_urls engine i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/pygments.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/diff.css" %}">
{% endblock extrastyle %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'change' state.pk %}">{{ state }}</a>
        &rsaquo; Diff
    </div>
{% endblock breadcrumbs %}

{% block content %}
{# <div class="pager"> #}
{# {% if prev %}<a href="?state_pk={{ prev.id }}">prev</a>{% else %}prev{% endif %} #}
{# {% if next %}<a href="?state_pk={{ next.id }}">next</a>{% else %}next{% endif %} #}
{# </div> #}
    <h3>Update changes</h3>
    <div style="font-size: larger">
        {{ state|diff }}
    </div>
    <h3>Actual code diff</h3>
    <div style="font-size: larger">
        {{ state|diff_to_current }}
    </div>
{% endblock content %}
