{% extends "admin_extra_urls/change_form.html" %}{% load engine steficon %}
{% block field_sets %}
    <a href="{% url "admin:steficon_rule_change" original.rule.pk %}">{{ original.rule }}</a> version <b>#{{ original.version }}</b>
    {{ original.after.definition|pygmentize:"python" }}
    {% if has_change_permission %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{#{% block after_related_objects %}#}
{#    <table>#}
{#    <tr>#}
{#        <td>Current</td>#}
{#        <td>Differences with current record</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>{{ original.rule.as_dict|pretty_json }}</td>#}
{#        <td>{{ original.diff_with_current|pretty_json }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Record at time of change</td>#}
{#        <td>Updates</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>{{ original.before|pretty_json }}</td>#}
{#        <td>{{ original.changes|pretty_json }}</td>#}
{#    </tr>#}
{#    </table>#}
{##}
{##}
{#{% endblock %}#}
