{% load i18n %}
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-financing icon-blue"></span>
        {% translate "Total Amount Paid" %}
    </h3>
    <div id="total-amount-paid" class="text-cyan-700  text-base font-bold"></div>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-preparedness icon-blue"></span>
        {% translate "Number of Payments" %}
    </h3>
    <div id="number-of-payments" class="text-cyan-700  text-base font-bold"></div>
    <p class="text-xs italic">{% translate "payments" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-financing icon-blue"></span>
        {% translate "Outstanding Payment" %}
    </h3>
    <div id="outstanding-payments" class="text-cyan-700  text-base font-bold"></div>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-house icon-blue"></span>
        {% translate "Households Reached" %}
    </h3>
    <div id="households-reached" class="text-cyan-700  text-base font-bold"></div>
    <p class="text-xs italic">{% translate "households" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-people-targeted icon-blue"></span>
        {% translate "Individuals Reached" %}
    </h3>
    <div id="individuals-reached" class="text-cyan-700  text-base font-bold"></div>
    <p class="text-xs italic">{% translate "persons" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-xs font-bold">
        <span class="icon icon-children icon-blue"></span>
        {% translate "Children Reached" %}
    </h3>
    <div id="children-reached" class="text-cyan-700  text-base font-bold"></div>
    <p class="text-xs italic">{% translate "children" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-sm font-bold">
        <span class="icon icon-users icon-blue"></span>
        {% translate "PWD Reached" %}
    </h3>
    <div id="pwd-reached" class="text-cyan-700  text-base font-bold"></div>
    <p class="text-xs italic">{% translate "of persons with disabilities" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-sm font-bold">
        <span class="icon icon-report icon-blue"></span>
        {% translate "Reconciliation" %}
    </h3>
    <div class="text-cyan-700 text-base font-bold reconciliation-percentage">%</div>
    <p class="text-xs italic">{% translate "of payments reconciled" %}</p>
</div>
<div class="col-span-1 bg-white p-4 rounded shadow flex flex-col justify-center items-center">
    <h3 class="text-sm font-bold">
        <span class="icon icon-report icon-blue"></span>
        {% translate "Verification" %}
    </h3>
    <div class="text-cyan-700  text-base font-bold  pending-reconciliation-percentage">%</div>
    <p class="text-xs italic">{% translate "of payments plans verified" %}</p>
</div>
