{% extends "admin_extra_urls/action_page.html" %}{% load engine i18n admin_urls static admin_modify %}
{% block action-content %}
  <table width="100%">
    <tr>
      <td>Date</td>
      <td>Version</td>
      <td>Author</td>
      <td>Affected Fields</td>
    </tr>
    {% for state in original.history.all %}
      <tr>
        <td><a
          href="{% url opts|admin_urlname:'diff' state.rule.pk %}?state_pk={{ state.pk }}">{{ state.timestamp }}</a>
        </td>
        <td>{{ state.version }}</td>
        <td>{{ state.updated_by }}</td>
        <td>{{ state.affected_fields|join:"," }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
