{% extends "admin_extra_urls/change_form.html" %}{% load i18n admin_urls engine static %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .object-tools a.btn.extra-link.btn-action.disabled,
        .object-tools a.btn.extra-link.btn-href.disabled {
            background: #ece8e8;
            cursor: not-allowed;
        }
    </style>
{% endblock %}
{% block object-tools-items %}
    {# removes standard django buttons   #}
    {% include "admin_extra_urls/includes/change_form_buttons.html" %}
    <li>{{ original.latest.version|default_if_none:"No release" }}</li>
{% endblock %}
{% block submit_buttons_bottom %}
    <input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue">
    <input type="submit" value="{% trans 'Release' %}" name="_save">
{% endblock %}

{% block admin_change_form_document_ready %}{{ block.super }}
    <style>
        a.btn-action.disabled {
            background-color: lightgray;
        }
        .CodeMirror {
            font-size: 16px;
         }
    </style>
    <script>
        window.addEventListener('load', function () {
            var fieldsets = document.querySelectorAll('fieldset.collapse.open');
            for (var i = 0; i < fieldsets.length; i++) {
                var elem = fieldsets[i];
                elem.classList.remove('collapsed');
                var link = elem.querySelector('h2>a');
                link.textContent = gettext('Hide');
            }
        });
    </script>
    <script type="text/javascript">
        if ('undefined' !== typeof(django)) {
            // supplement focus prototype for Django's old jQuery
            django.jQuery.expr[':'].focus = function( elem ) {
                return elem === document.activeElement && ( elem.type || elem.href );
            };
            django.jQuery(document).keydown(function(e) {
                // only do J/K nav on result lists and when the search field isn't focused
                var do_jk_nav = django.jQuery('#result_list').length && django.jQuery('input:focus').length == 0;
                console.log(11111, 'ctrlKey:', e.ctrlKey, 'metaKey:', e.metaKey, 'which:', e.which);
                if ((e.ctrlKey || e.metaKey) && (e.which === 83 || e.which === 115)) { // s or S
                    e.preventDefault();
                    django.jQuery("input[name='_continue']").click();
                    return false;
                }
                if ((e.ctrlKey || e.metaKey) && (e.which === 80)) { // s or S
                    django.jQuery("#btn-preview").click();
                    e.preventDefault();
                    return false;
                }
            });
        }
    </script>
{% endblock %}
