{% extends "admin_extra_urls/change_form.html" %}{% load engine static %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .object-tools a.btn.extra-link.btn-action.disabled,
        .object-tools a.btn.extra-link.btn-href.disabled {
            background: #ece8e8;
            cursor: not-allowed;
        }
    </style>
{% endblock %}
{% block object-tools-items %}
    {# removes standard django buttons   #}
    {% include "admin_extra_urls/includes/change_form_buttons.html" %}
{% endblock %}
{% block admin_change_form_document_ready %}{{ block.super }}
    <style>
        a.btn-action.disabled {
            background-color: lightgray;
        }
        .CodeMirror {
        {#    font-family: Arial, monospace;#}
            font-size: 16px;
         }
        .CodeMirror-fullscreen {
            position: fixed;
            top: 0; left: 0; right: 0; bottom: 0;
            height: auto;
            z-index: 9;
        }
    </style>
    <script>
        window.addEventListener('load', function () {
            var fieldsets = document.querySelectorAll('fieldset.collapse.open');
            for (var i = 0; i < fieldsets.length; i++) {
                var elem = fieldsets[i];
                elem.classList.remove('collapsed');
                var link = elem.querySelector('h2>a');
                link.textContent = gettext('Hide');
            }
        });
        (function(){
            var $ = django.jQuery;
            $(document).ready(function(){
                $('textarea.python-editor').each(function(idx, el){
                    var editor = CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        lineWrapping: true,
                        indentUnit: 4,
                        mode: 'python',
                        styleActiveLine: true,
                        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                        foldGutter: true,
                        extraKeys: {
                            "F3": function(cm){ cm.foldCode(cm.getCursor()); },
                            "F11": function(cm) {
                                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                            },
                            "Esc": function(cm) {
                                if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                            }
                        }
                    })
                    editor.execCommand('foldAll')
                });
            });
        })();
    </script>
{% endblock %}
