{% extends "admin_extra_urls/action_page.html" %}{% load engine i18n admin_urls static admin_modify %}
{% block extrahead %}{{ block.super }}{{ form.media }}{% endblock extrahead %}
{% block breadcrumbs-active %}
{% if form %}
    &rsaquo; Test
{% else %}
    &rsaquo; <a href="{% url opts|admin_urlname:'preview' original.pk %}">Test</a>
    &rsaquo; Results
{% endif %}
{% endblock breadcrumbs-active %}

{% block content %}
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% else %}
        {% if not elements %}
            <h1>No entries in selected population</h1>
        {% else %}
            <h2>Note: Only used {{ elements|length }} records</h2>
            <table>
                <tr>
                    <th>HH Id</th>
                    <th>HH Head</th>
                    <th>HH size</th>
                    <th>Score</th>
                </tr>
                {% for el in elements %}
                    <tr>
                        <td>{{ el.household.unicef_id }}</td>
                        <td>{{ el.household.head_of_household.full_name }}</td>
                        <td>{{ el.household.size }}</td>
                        <td>{{ el.vulnerability_score }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

{% endblock %}
