{% extends "admin_extra_urls/action_page.html" %}{% load engine static admin_urls %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/code.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/diff.css" %}">
    <script type="text/javascript" src="{% static "admin/js/collapse.js" %}"></script>
{% endblock %}
{% block breadcrumbs-active %}
    &rsaquo; <a href="{% url opts|admin_urlname:'diff' original.pk %}">Code History</a>
    &rsaquo; Revert to {{ state.timestamp|date:"d, M Y H:i" }}
{% endblock %}
{% block content_title %}<h1>Warning!!</h1>
<h2>You are reverting rule '{{ original }}' to commit #{{ state.version }} of {{ state.timestamp|date:"d, M Y H:i" }}.</h2>
{% endblock %}
{% block object-tools-items %}
<li><form method="post">{% csrf_token %}
    &nbsp;&nbsp;<input class="default" type="submit" name="_restore" value="Restore All Data">&nbsp;
    &nbsp;&nbsp;<input type="submit" name="_revert"  value="Revert Code Only">&nbsp;&nbsp;</form></li>
{% endblock %}
{% block action-content %}
        <fieldset class="module aligned">
            <h2>Fields</h2>
            <table width="100%">
                <tr>
                    <th></th>
                    <th>Current</th>
                    <th>After Restore</th>
                    <th></th>
                </tr>
                {% for field in MONITORED_FIELDS|slice:"-1" %}
                    <tr>
                        <th>{{ field }}</th>
                        <td>{{ state.rule.as_dict|get_item:field }}</td>
                        <td>{{ state.before|get_item:field }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
        <fieldset class="module aligned collapse open">
            <h2>Code after Revert/Restore</h2>
            <div class="code d-none" id="tab-diff">
                {{ state.before.definition|pygmentize }}
            </div>
        </fieldset>
        <fieldset class="module aligned collapse">
            <h2>Code Changes</h2>
            <div class="code d-none" id="tab-diff">
                {{ state|diff:"before,current" }}
            </div>
        </fieldset>
        <pre class="code" id="tab-code">
    </pre>
{% endblock %}
{% block document_ready %}{{ block.super }}
    <script>
        window.addEventListener('load', function () {
            var fieldsets = document.querySelectorAll('fieldset.collapse.open');
            for (var i = 0; i < fieldsets.length; i++) {
                var elem = fieldsets[i];
                elem.classList.remove('collapsed');
                var link = elem.querySelector('h2>a');
                link.textContent = gettext('Hide');
            }
        });
    </script>
{% endblock %}

