{% extends "admin_extra_buttons/action_page.html" %}{% load engine static %}


{% block action-content %}
     <table width="100%">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Programme</th>
        </tr>
        {% for tp in rule.used_by %}
            <tr>
                <td>{{ tp }}</td>
                <td>{{ tp.status }}</td>
                <td>{{ tp.program.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock action-content %}
