{% extends "admin/base_site.html" %}

{% block content %}
  <p class="messagelist warning">
    {% if vision_receipt_unconfirmed %}
      HOPE could not confirm that this Payment Plan was successfully sent to Vision. The request may have failed, or
      processing may have stopped before confirmation was recorded.
    {% endif %}
    Assigning these FC headers will automatically release the Payment Plan and immediately send it to Payment Gateway
    if it is a PG plan.
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
      {{ form.funds_commitment_headers.errors }}
      {{ form.funds_commitment_headers.label_tag }}
      {{ form.funds_commitment_headers }}
    </div>
    <input type="submit" value="Assign FC Headers and Continue" class="default">
    <a href="{% url 'admin:payment_paymentplan_change' payment_plan.id %}">Cancel</a>
  </form>
{% endblock content %}
