{% extends "admin_extra_urls/action_page.html" %}{% load engine i18n admin_urls static admin_modify %}
{% block extrahead %}
    <style>
            table.messagelist tr.warning {
            background: #ffc url({% static 'admin/img/icon-alert.svg' %}) 40px 14px no-repeat;
            background-size: 14px auto;
        }
        table.messagelist tr.error {
            background: #ffefef url({% static 'admin/img/icon-no.svg' %}) 40px 12px no-repeat;
            background-size: 14px auto;
        }
    </style>
{% endblock %}
{% block content %}
    {% if  warnings %}
    <h3>Warnings</h3>
    <table class="messagelist ">
        {% for level, warn in warnings %}
            <tr class="{{ level }}">
                <th>{{ level|upper }}</th>
                <td>{{ warn }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h3>Household</h3>
    {% if original.heading_household %}
        <a href="{% url "admin:household_household_change" original.household.pk %}">{{ original.heading_household }}</a>
    {% endif %}
    <h3>Parents</h3>
    <table>
        <tr><th>Id</th><th>Name</th><th>Relation to Head of Household</th></tr>
        {% for parent in original.parents.all %}
            <tr><td><a href="{% url "admin:household_individual_change" parent.pk %}">{{ parent }}</a></td>
                <td>{{ parent.full_name }}</td>
                <td>{{ parent.relationship }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Roles</h3>
    <table>
    {% for role in original.households_and_roles.all %}
        <tr><td><a href="{% url "admin:household_household_change" role.household.pk %}">{{ role.household }}</a></td><td>{{ role.role }}</td></tr>
    {% endfor %}
    </table>
    <h3>Documents</h3>
    <table>
        {% for doc in original.documents.all %}
            <tr><td><a href="{% url "admin:household_document_change" doc.pk %}">{{ doc.document_number }}</a></td>
                <td>{{ doc.type }}</td>
                <td>{{ doc.status }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Duplicates</h3>
    <table>
        <tr><th>Id</th><th>Name</th></tr>
        {% for duplicate in duplicates %}
            <tr><td><a href="{% url "admin:household_individual_change" duplicate.pk %}">{{ duplicate }}</a></td>
                <td>{{ duplicate.full_name }}</td>
                <td>{{ duplicate.id }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
