{% extends "admin_extra_buttons/action_page.html" %}{% load hope i18n admin_urls static admin_modify %}
{% block action-content %}
    {% if original.withdrawn %}
    <h1 style="color: red">Household currently withdrawn</h1>
        <div>Continuing will restore this household and all his  members (not the external collectors) and
            will reopen all tickets closed when it was withdrew.
        </div>
    {% else %}
        <div>Continuing will withdrawn household and all his members (not the external collectors) and
            will close any ticket related to the household or his members
        </div>
    {% endif %}
    <form method="post">{% csrf_token %}
        <table>
            {{ form }}
        </table>
    <input type="submit"
           value="{% if original.withdrawn %}Restore{% else %}Withdrawn{% endif %} Household"
           class="btn btn-default">
    </form>
{% endblock action-content %}
