{% extends "admin_extra_urls/change_form.html" %}{% load staticfiles accounts i18n %}
{% block object-tools-items %}
    {{ block.super }}
    {% if request|is_root %}
        <li><a href="#"
               style="background-color: chocolate"
               class="btn extra-link btn-action btn-danger" data-hijack-user="{{ original.pk }}"
                data-hijack-next="{{ next }}" data-hijack-url="{% url 'hijack:acquire' %}">
                Impersonate
        </a></li>
    {% endif %}

{#    {% include "admin_extra_urls/includes/change_form_buttons.html" %}#}
{% endblock %}
