{% load i18n static  %}{% get_current_language_bidi as LANGUAGE_BIDI %}<!DOCTYPE html>
<html lang="en" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <title>HOPE Workspace {{ state.tenant }}</title>
    {% block meta %}
        <meta name="view" content="{{ view_name }}"/>
        <meta charset="utf-8">
    {% endblock meta %}
    <link rel="stylesheet" href="{% static "sanction_list/sanction_list.css" %}" type="text/css">
    {{ media }}
    {% block extrahead %}{% endblock %}
</head>
<body class="web">
<main class="flex flex-col h-screen">
    <div class="flex flex-1">
        <div class="overflow-y-auto p-1 bg-gray-200 w-full flex flex-1 flex-col">
            {% block breadcrumbs %}{% endblock %}
            {% block page-top %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="footer-signature">
    </div>
</main>
</body>
</html>
