{% extends "sanction_list/layout.html" %}{% load feature_flags i18n %}
{% block page-top %}
    <div class="title-top">
        <h2>Select File to Import to Check Against Sanctions List</h2>
    </div>
{% endblock page-top %}

{% block content %}
    <style>
        * {
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 14px;
            font-weight: 500;
            color: rgb(2, 62, 144);

        }

        table {
            margin: 10px;
        }

        input[type=file] {
            display: none;
        }

        input[type=submit] {
            margin-top: 10px;
        }

        #upload {
            width: 500px;
            height: 100px;
            background-color: rgba(2, 62, 144, 0.1);

            letter-spacing: 0.5px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 20px;
            cursor: pointer;
        }

        #messages {
            .success {
                background-color: #3aca1a;
                padding: 3px;
            }
        }

    </style>
    <div id="messages">
        {% for m in messages %}
            <div class="{{ m.level_tag }}">{{ m }}</div>{% endfor %}
    </div>
    <div class="flex items-center justify-center p-5">
        <div class="3/4 pt-10 text-center bg-white p-5 mt-10">
            <form method="post" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                <div>
                    {{ form.selected_lists.errors }}
                    {{ form.selected_lists }}
                </div>
                {{ form.file.errors }}
                {{ form.file }}
                <div class="flex items-center justify-center w-full">
                    <label for="id_file" id="upload"
                           class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                    class="font-semibold">UPLOAD FILE</span>
                            </p>
                        </div>
                    </label>
                </div>
                <div class="flex mt-5">
                    <div class="inline-flex flex-1">
                        <a href="{% url "sanction:download_sanction_template" %}">DOWNLOAD TEMPLATE</a>
                    </div>
                    <div class="inline-flexx">
                        <input type="submit" value="Upload">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
