{
  "countryAdmin": {
    "adUsername": "...",
    "adPassword": "...",
    "cookies": [],
    "localStorage": {}
  },
  "hqAdmin": {
    "username": "...",
    "password": "...",
    "cookies": [],
    "whitelist": {
      "cookies": [],
      "localStorage": []
    },
    "localStorage": {}
  },
  "loginUrl": "http://localhost:8082/api/login/azuread-tenant-oauth2"
}
