{
  "daUsername": "...",
  "daPassword": "...",
  "countryAdmin": {
    "adUsername": "...",
    "adPassword": "...",
    "cookies": [],
    "whitelist": {
      "cookies": ["sessionid"]
    },
    "localStorage": {}
  },
  "hqAdmin": {
    "adUsername": "...",
    "adPassword": "...",
    "cookies": [],
    "whitelist": {
      "cookies": ["csrftoken", "sessionid"]
    },
    "localStorage": {}
  },
  "loginUrl": "http://localhost:8082/api/login/azuread-tenant-oauth2"
}
