{
  "countryAdmin": {
    "username": "...",
    "password": "..."
  },
  "hqAdmin": {
    "username": "...",
    "password": "..."
  },
  "loginUrl": "http://localhost:8082/api/login/azuread-tenant-oauth2",
  "smokeTestUrl": "http://localhost:8082",
  "whitelist": {
    "localStorage": ["AUTHENTICATED"],
    "cookies": ["csrftoken", "sessionid"]
  },
  "useAuthMock": false,
  "authMock": {
    "localStorage": {},
    "cookies": []
  }
}
