interactions:
- request:
    body: null
    headers:
      Authorization:
      - token test-token
    method: GET
    uri: https://kf.hope.unicef.org/api/v2/assets/aWnA2d5YBBDgQ5WZXpbaRe/data/?format=json&limit=10&query=%7B%22_validation_status.uid%22:%22validation_status_approved%22%7D
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-KoBoNaUt:
      - afg_admin
    status:
      code: 200
      message: OK
version: 1
