interactions:
- request:
    body: null
    headers:
      Authorization:
      - token test-token
    method: GET
    uri: https://kf.hope.unicef.org/api/v2/assets/aWnA2d5YBBDgQ5WZXpbaRe/?format=json&limit=30000
  response:
    body:
      string: "{\"url\":\"https://kf.hope.unicef.org/api/v2/assets/aWnA2d5YBBDgQ5WZXpbaRe/?format=json\",\"owner\":\"https://kf.hope.unicef.org/api/v2/users/afg_admin/?format=json\",\"owner__username\":\"afg_admin\",\"parent\":null,\"settings\":{\"sector\":{\"label\":\"Humanitarian
        - Coordination / Information Management\",\"value\":\"Humanitarian - Coordination
        / Information Management\"},\"country\":[{\"label\":\"Afghanistan\",\"value\":\"AFG\"}],\"data-table\":{\"sort-by\":{\"value\":\"ASCENDING\",\"fieldId\":\"start\"}},\"description\":\"\",\"organization\":\"\",\"country_codes\":[\"AFG\"],\"share-metadata\":true},\"asset_type\":\"survey\",\"summary\":{\"geo\":false,\"labels\":[\"Enumerator
        Information\",\"Method of collection (e.g. HH survey, Community, etc.)\",\"Name
        of the enumerator\",\"Organization of the enumerator\",\"Name of partner organization\"],\"columns\":[\"name\",\"type\",\"label\",\"appearance\",\"lock
        fields\",\"detailed or quick\",\"default\",\"required\",\"read_only\",\"select_from_list_name\",\"relevant\",\"hint\",\"calculation\",\"trigger\",\"constraint\",\"constraint_message\",\"repeat_count\",\"choice_filter\",\"media::image\"],\"lock_all\":false,\"lock_any\":false,\"languages\":[\"English(EN)\",\"Dari
        (\u062F\u0631\u06CC)\",\"Pashto(\u067E\u069A\u062A\u0648)\",\"French(FR)\",\"Spanish(ES)\"],\"row_count\":219,\"name_quality\":{\"ok\":0,\"bad\":0,\"good\":219,\"total\":219,\"firsts\":{}},\"default_translation\":\"English(EN)\"},\"date_created\":\"2022-12-05T11:03:08.754929Z\",\"date_modified\":\"2023-10-04T10:38:23.610534Z\",\"date_deployed\":\"2022-12-05T11:03:20.533209Z\",\"version_id\":\"v98KNFhzhZmzr3bf9GMHMw\",\"version__content_hash\":\"90732b8b9cce692bc3a15122aa8e6faac53b3e1a\",\"version_count\":4,\"has_deployment\":true,\"deployed_version_id\":\"vCQfzpzMoZQREwdS9pf3xC\",\"deployed_versions\":{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"uid\":\"vCQfzpzMoZQREwdS9pf3xC\",\"url\":\"https://kf.hope.unicef.org/api/v2/assets/aWnA2d5YBBDgQ5WZXpbaRe/versions/vCQfzpzMoZQREwdS9pf3xC/?format=json\",\"content_hash\":\"a46d1eefeac8029b29e0237b36a483689615cef0\",\"date_deployed\":\"2022-12-05T11:03:20.533209Z\",\"date_modified\":\"2022-12-05
        11:03:20.533209+00:00\"}]},\"deployment__identifier\":\"https://kc.hope.unicef.org/afg_admin/forms/aWnA2d5YBBDgQ5WZXpbaRe\",\"deployment__links\":{\"url\":\"https://ek.hope.unicef.org/BcdsJ5cf\",\"single_url\":\"https://ek.hope.unicef.org/single/BcdsJ5cf\",\"single_once_url\":\"https://ek.hope.unicef.org/single/228795d3b74f8ae80edbe3fa7cfc4a01\",\"offline_url\":\"https://ek.hope.unicef.org/x/BcdsJ5cf\",\"preview_url\":\"https://ek.hope.unicef.org/preview/BcdsJ5cf\",\"iframe_url\":\"https://ek.hope.unicef.org/i/BcdsJ5cf\",\"single_iframe_url\":\"https://ek.hope.unicef.org/single/i/BcdsJ5cf\",\"single_once_iframe_url\":\"https://ek.hope.unicef.org/single/i/228795d3b74f8ae80edbe3fa7cfc4a01\"},\"deployment__active\":true,\"deployment__data_download_links\":{\"xls_legacy\":\"https://kc.hope.unicef.org/afg_admin/exports/aWnA2d5YBBDgQ5WZXpbaRe/xls/\",\"csv_legacy\":\"https://kc.hope.unicef.org/afg_admin/exports/aWnA2d5YBBDgQ5WZXpbaRe/csv/\",\"zip_legacy\":\"https://kc.hope.unicef.org/afg_admin/exports/aWnA2d5YBBDgQ5WZXpbaRe/zip/\",\"kml_legacy\":\"https://kc.hope.unicef.org/afg_admin/exports/aWnA2d5YBBDgQ5WZXpbaRe/kml/\",\"xls\":\"https://kc.hope.unicef.org/afg_admin/reports/aWnA2d5YBBDgQ5WZXpbaRe/export.xlsx\",\"csv\":\"https://kc.hope.unicef.org/afg_admin/reports/aWnA2d5YBBDgQ5WZXpbaRe/export.csv\"},\"deployment__submission_count\":30842,\"report_styles\":{\"default\":{},\"specified\":{\"age\":{},\"end\":{},\"audit\":{},\"segue\":{},\"setup\":{},\"start\":{},\"consent\":{},\"age_note\":{},\"deviceid\":{},\"phone_no\":{},\"pregnant\":{},\"role_i_c\":{},\"size_h_c\":{},\"male_note\":{},\"admin1_h_c\":{},\"admin1desc\":{},\"admin2_h_c\":{},\"admin2desc\":{},\"disability\":{},\"enumerator\":{},\"gender_i_c\":{},\"have_phone\":{},\"address_h_c\":{},\"consent_h_c\":{},\"country_h_c\":{},\"female_note\":{},\"id_type_i_c\":{},\"other_id_no\":{},\"scope_id_no\":{},\"unhcr_id_no\":{},\"village_h_c\":{},\"currency_h_c\":{},\"display_name\":{},\"ind_pregnant\":{},\"introduction\":{},\"phone_no_i_c\":{},\"pregnant_h_c\":{},\"pregnant_i_c\":{},\"role_primary\":{},\"child_hoh_h_c\":{},\"child_hoh_i_c\":{},\"error_primary\":{},\"full_name_i_c\":{},\"number_repeat\":{},\"assistance_h_f\":{},\"birth_date_i_c\":{},\"disability_i_c\":{},\"display_groups\":{},\"end_individual\":{},\"f_60_age_group\":{},\"fchild_hoh_h_c\":{},\"fchild_hoh_i_c\":{},\"given_name_i_c\":{},\"have_alt_phone\":{},\"identification\":{},\"m_60_age_group\":{},\"national_id_no\":{},\"number_primary\":{},\"role_alternate\":{},\"disability_note\":{},\"error_alternate\":{},\"f_0_5_age_group\":{},\"f_60_disability\":{},\"family_name_i_c\":{},\"m_0_5_age_group\":{},\"m_60_disability\":{},\"middle_name_i_c\":{},\"other_id_no_i_c\":{},\"scope_id_no_i_c\":{},\"unhcr_id_no_i_c\":{},\"begin_individual\":{},\"consent_sign_h_c\":{},\"f_0_5_disability\":{},\"f_6_11_age_group\":{},\"health_questions\":{},\"household_status\":{},\"individual_index\":{},\"m_0_5_disability\":{},\"m_6_11_age_group\":{},\"number_alternate\":{},\"pregnant_display\":{},\"relationship_i_c\":{},\"disability_header\":{},\"electoral_card_no\":{},\"f_12_17_age_group\":{},\"f_18_59_age_group\":{},\"f_6_11_disability\":{},\"m_12_17_age_group\":{},\"m_18_59_age_group\":{},\"m_6_11_disability\":{},\"national_passport\":{},\"note_is_child_hoh\":{},\"other_id_type_i_c\":{},\"collector_age_note\":{},\"composition_header\":{},\"country_origin_h_c\":{},\"drivers_license_no\":{},\"external_collector\":{},\"f_12_17_disability\":{},\"f_18_59_disability\":{},\"f_60_age_group_h_c\":{},\"hh_size_calculated\":{},\"household_location\":{},\"ind_f_60_age_group\":{},\"ind_m_60_age_group\":{},\"individual_details\":{},\"m_12_17_disability\":{},\"m_18_59_disability\":{},\"m_60_age_group_h_c\":{},\"national_id_no_i_c\":{},\"note_is_fchild_hoh\":{},\"num_pregnant_f_h_f\":{},\"org_enumerator_h_c\":{},\"alternate_collector\":{},\"assistance_type_h_f\":{},\"consent_sharing_h_c\":{},\"contact_information\":{},\"f_0_5_age_group_h_c\":{},\"f_60_disability_h_c\":{},\"ind_f_0_5_age_group\":{},\"ind_f_60_disability\":{},\"ind_m_0_5_age_group\":{},\"ind_m_60_disability\":{},\"m_0_5_age_group_h_c\":{},\"m_60_disability_h_c\":{},\"name_enumerator_h_c\":{},\"num_lactating_f_h_f\":{},\"other_id_issuer_i_c\":{},\"scope_id_issuer_i_c\":{},\"under2_children_h_f\":{},\"unhcr_id_issuer_i_c\":{},\"birth_certificate_no\":{},\"comms_disability_i_c\":{},\"f_0_5_disability_h_c\":{},\"f_6_11_age_group_h_c\":{},\"ind_f_0_5_disability\":{},\"ind_f_6_11_age_group\":{},\"ind_m_0_5_disability\":{},\"ind_m_6_11_age_group\":{},\"individual_questions\":{},\"m_0_5_disability_h_c\":{},\"m_6_11_age_group_h_c\":{},\"phone_no_alternative\":{},\"residence_status_h_c\":{},\"assistance_source_h_f\":{},\"electoral_card_no_i_c\":{},\"f_12_17_age_group_h_c\":{},\"f_18_59_age_group_h_c\":{},\"f_6_11_disability_h_c\":{},\"household_composition\":{},\"id_information_header\":{},\"ind_f_12_17_age_group\":{},\"ind_f_18_59_age_group\":{},\"ind_f_6_11_disability\":{},\"ind_m_12_17_age_group\":{},\"ind_m_18_59_age_group\":{},\"ind_m_6_11_disability\":{},\"m_12_17_age_group_h_c\":{},\"m_18_59_age_group_h_c\":{},\"m_6_11_disability_h_c\":{},\"memory_disability_i_c\":{},\"national_passport_i_c\":{},\"seeing_disability_i_c\":{},\"age_gender_composition\":{},\"composition_disability\":{},\"drivers_license_no_i_c\":{},\"f_12_17_disability_h_c\":{},\"f_18_59_disability_h_c\":{},\"f_60_age_group_display\":{},\"hearing_disability_i_c\":{},\"ind_f_12_17_disability\":{},\"ind_f_18_59_disability\":{},\"ind_m_12_17_disability\":{},\"ind_m_18_59_disability\":{},\"m_12_17_disability_h_c\":{},\"m_18_59_disability_h_c\":{},\"m_60_age_group_display\":{},\"national_id_issuer_i_c\":{},\"specific_residence_h_f\":{},\"f_0_5_age_group_display\":{},\"f_60_disability_display\":{},\"m_0_5_age_group_display\":{},\"m_60_disability_display\":{},\"observed_disability_i_c\":{},\"org_name_enumerator_h_c\":{},\"physical_disability_i_c\":{},\"registration_method_h_c\":{},\"selfcare_disability_i_c\":{},\"birth_certificate_no_i_c\":{},\"discrepancy_hh_size_note\":{},\"estimated_birth_date_i_c\":{},\"f_0_5_disability_display\":{},\"f_6_11_age_group_display\":{},\"m_0_5_disability_display\":{},\"m_6_11_age_group_display\":{},\"phone_no_alternative_i_c\":{},\"disability_section_header\":{},\"electoral_card_issuer_i_c\":{},\"f_12_17_age_group_display\":{},\"f_18_59_age_group_display\":{},\"f_6_11_disability_display\":{},\"m_12_17_age_group_display\":{},\"m_18_59_age_group_display\":{},\"m_6_11_disability_display\":{},\"other_id_issuer_i_c_other\":{},\"scope_id_issuer_i_c_other\":{},\"unhcr_id_issuer_i_c_other\":{},\"contact_information_header\":{},\"drivers_license_issuer_i_c\":{},\"f_12_17_disability_display\":{},\"f_18_59_disability_display\":{},\"m_12_17_disability_display\":{},\"m_18_59_disability_display\":{},\"biographical_section_header\":{},\"collect_individual_data_h_c\":{},\"birth_certificate_issuer_i_c\":{},\"national_id_issuer_i_c_other\":{},\"national_passport_issuer_i_c\":{},\"humanitarian_assistance_title\":{},\"electoral_card_issuer_i_c_other\":{},\"drivers_license_issuer_i_c_other\":{},\"humanitarian_assistance_questions\":{},\"birth_certificate_issuer_i_c_other\":{},\"national_passport_issuer_i_c_other\":{}},\"kuid_names\":{\"age\":\"HxBd35ykz\",\"end\":\"Ye6CGnpEf\",\"audit\":\"8dQ7E02PB\",\"segue\":\"tihAmhEVN\",\"setup\":\"S4NEdIHbd\",\"start\":\"n8T5Rj6Xc\",\"consent\":\"3QsvMEU2u\",\"age_note\":\"o7LWqb0Sx\",\"deviceid\":\"5iVakweK9\",\"phone_no\":\"ST8FGpYYD\",\"pregnant\":\"yIGGwAW8V\",\"role_i_c\":\"n08EuoUbd\",\"size_h_c\":\"glcYZegCA\",\"male_note\":\"zDevDae2L\",\"admin1_h_c\":\"p2D3JHaSX\",\"admin1desc\":\"GVL0iMVIp\",\"admin2_h_c\":\"IEe10cXtT\",\"admin2desc\":\"9cPSLedN0\",\"disability\":\"Zox0NZJh2\[...]
