{% extends "admin/base.html" %}
{% load hope_admin i18n unfold %}

{% block extrahead %}
 {{ form.media }}
  {% include 'matomo.html' %}
{% endblock extrahead %}

{% block header %}
    {{ block.super }}
    <div class="px-4">
        <div class="container mx-auto text-sm text-font-subtle-light dark:text-font-subtle-dark py-2 flex flex-wrap items-center gap-2">
            <div class="whitespace-nowrap">
                {% block breadcrumbs %}
                    <a href="{% url 'admin:index' %}" class="hover:text-primary-600">{% translate 'Home' %}</a>
                    {% if opts %}
                        &rsaquo;
                        <a href="{% url 'admin:app_list' app_label=opts.app_label %}" class="hover:text-primary-600">{{ opts.app_config.verbose_name|upper }}</a>
                        &rsaquo;
                        {{ opts.verbose_name_plural|capfirst }}
                    {% endif %}
                {% endblock breadcrumbs %}
            </div>
            <div class="ml-auto min-w-0 overflow-x-auto">
                {% block breadcrumb_actions %}
                    {% action_list %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock header %}
