version: '3.7'

volumes:
  backend-web-app:

services:
  backend:
    volumes:
      - type: volume
        source: backend-web-app
        target: /code/hct_mis_api/apps/web
        volume:
          nocopy: false
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
      elasticsearch:
        condition: service_started
      celery_worker:
        condition: service_started
      init_fe:
        condition: service_completed_successfully
    env_file:
      - .env-selenium

  init_fe:
    image: ${dist_backend_image}
    volumes:
      - backend-web-app:/tmp/
    command: |
      sh -c "
        cp -r ./hct_mis_api/apps/web/* /tmp/
      "
    restart: "no"

  celery_worker:
    image: ${dev_backend_image}
    restart: unless-stopped
    command: "celery -A hct_mis_api.apps.core.celery worker -E -l info"
    depends_on:
      - backend
      - db
      - redis
      - elasticsearch
    env_file:
      - .env-selenium

