services:

  backend:
    image: ${dev_backend_image}
    volumes:
      - ../../tests/test-coverage:/app/test-coverage
      - ./dev.sh:/app/dev.sh
    depends_on:
      - db
      - redis
      - elasticsearch
    env_file:
      - .env-unit

  db:
    image: kartoza/postgis:14-3
    volumes:
      - ../../development_tools/postgres/init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASS=postgres
      - PGUSER=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5433:5432"

  redis:
    restart: unless-stopped
    image: valkey/valkey:8.0.2-alpine

  elasticsearch:
    image: unicef/hct-elasticsearch
    build:
      context: ../../development_tools/elasticsearch
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - cluster.initial_master_nodes=es01
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
