{% extends "admin_extra_buttons/action_page.html" %}
{% load admin_modify admin_urls engine i18n mptt_tags static %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    {{ media }}
    {{ program_area_formset.media }}
    <style>
        .field-areas {
            height: 250px;
            overflow: hidden;

            .field-areas-container {
                height: 100%;
                overflow-y: auto;
            }
        }
    </style>
{% endblock extrahead %}

{% block action-content %}
    <form method="POST" id="save_permissions" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="refresh-areas" value="false"/>
        <div class="js-inline-admin-formset inline-group">
            <div class="tabular inline-related last-related">
                {{ program_area_formset.management_form }}
                <fieldset class="module">
                    <h2>Admin Area Limits</h2>
                    <table>
                        <thead>
                        <tr>
                            <th class="column-partner required">Partner</th>
                            <th class="column-areas required">Areas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if program_area_formset.non_field_errors %}
                            <tr class="row-form-errors">
                                <td colspan="3">{{ program_area_formset.non_field_errors }}</td>
                            </tr>
                        {% endif %}
                        {% for form in program_area_formset %}
                            {{ form.management_form }}
                            <tr class="form-row dynamic-program_areas"
                                id="program-areas-{{ forloop.counter0 }}">
                                <td class="field-partner">
                                    {{ form.partner.errors.as_ul }}
                                    <select name="program_areas-{{ forloop.counter0 }}-partner" id="id_program_areas-{{ forloop.counter0 }}-partner" disabled>
                                    {% else %}
                                        <option value > --------- </option>
                                        {% for partner in partners %}
                                            <option value={{ partner.id }} {% if partner.id == form.partner.value %} selected{% endif %}> {{ partner.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                    </select>
                                <td class="field-areas">
                                    {{ form.areas.errors.as_ul }}
                                    <div class="field-areas-container">
                                        <ul class="root">
                                            {% recursetree areas %}
                                                <li>
                                                    <label for="id_program_areas-{{ forloop.counter0 }}-areas_{{ node.id }}">
                                                        <input type="checkbox"
                                                               name="program_areas-{{ forloop.counter0 }}-areas"
                                                               value="{{ node.id }}"
                                                               id="id_program_areas-{{ forloop.counter0 }}-areas_{{ node.id }}"
                                                               {% if node.id|stringformat:"s" in form.areas.value %}
                                                               checked {% endif %}
                                                               disabled
                                                        >
                                                        {{ node }}
                                                    </label>
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="children">
                                                            {{ children }}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endrecursetree %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock action-content %}

{% block admin_change_form_document_ready %}{{ block.super }}
{% endblock admin_change_form_document_ready %}
