{% extends "admin_extra_buttons/action_page.html" %}
{% load i18n admin_urls static admin_modify mptt_tags engine %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    {{ media }}
    {{ business_area_role_formset.media }}
    {{ program_area_formset.media }}
    <style>
        .field-areas {
            height: 250px;
            overflow: hidden;

            .field-areas-container {
                height: 100%;
                overflow-y: auto;
            }
        }
    </style>
{% endblock %}
{% block action-content %}
    <form method="POST" id="save_permissions" enctype="multipart/form-data">
        {% csrf_token %}
        {% if can_add_business_area_to_partner %}
            <input type="hidden" name="refresh-areas" value="false"/>
            <div class="js-inline-admin-formset inline-group">
                <div class="tabular inline-related last-related">
                    {{ business_area_role_formset.management_form }}
                    <fieldset class="module">
                        <h2>Business Area Roles</h2>
                        <table>
                            <thead>
                            <tr>
                                <th class="column-business_area required">Business area</th>
                                <th class="column-roles required">Roles</th>
                                <th>Delete?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if business_area_role_formset.non_field_errors %}
                                <tr class="row-form-errors">
                                    <td colspan="3">{{ business_area_role_formset.non_field_errors }}</td>
                                </tr>
                            {% endif %}
                            {% for form in business_area_role_formset %}
                                {{ form.management_form }}
                                <tr class="form-row dynamic-business_area_roles"
                                    id="business_area_roles-{{ forloop.counter0 }}">
                                    <td class="field-business_area">
                                        {{ form.business_area.errors.as_ul }}
                                        {{ form.business_area }}
                                    </td>
                                    <td class="field-roles">
                                        {{ form.roles.errors.as_ul }}
                                        {{ form.roles }}
                                    </td>
                                    <td>
                                        {{ form.DELETE }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="form-row empty-form" id="business_area_roles-empty">
                                <td class="field-business_area">
                                    {{ business_area_role_formset.empty_form.business_area.errors.as_ul }}
                                    {{ business_area_role_formset.empty_form.business_area }}
                                </td>
                                <td class="field-roles">
                                    {{ business_area_role_formset.empty_form.roles.errors.as_ul }}
                                    {{ business_area_role_formset.empty_form.roles }}
                                </td>
                                <td>
                                    {{ business_area_role_formset.empty_form.DELETE }}
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="add-row add-business_area_role-row">
                                <td colspan="3">
                                    <a href="#">Add another Business area role</a>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </fieldset>
                </div>
            </div>
        {% endif %}
        <div class="js-inline-admin-formset inline-group">
            <div class="tabular inline-related last-related">
                {{ program_area_formset.management_form }}
                <fieldset class="module">
                    <h2>Program Areas</h2>
                    <table>
                        <thead>
                        <tr>
                            <th class="column-business_area required">Business area</th>
                            <th class="column-program required">Program</th>
                            <th class="column-areas required">Areas</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if program_area_formset.non_field_errors %}
                            <tr class="row-form-errors">
                                <td colspan="3">{{ program_area_formset.non_field_errors }}</td>
                            </tr>
                        {% endif %}
                        {% for form in program_area_formset %}
                            {{ form.management_form }}
                            <tr class="form-row dynamic-program_areas"
                                id="program-areas-{{ forloop.counter0 }}">
                                <td class="field-business_area">
                                    {{ form.business_area.errors.as_ul }}
                                    {{ form.business_area }}
                                </td>
                                <td class="field-program">
                                    {{ form.program.errors.as_ul }}
                                    {% with program|get_item:form.business_area.value as programs %}
                                        <select name="program_areas-{{  forloop.counter0 }}-program" id="id_program_areas-{{ forloop.counter0 }}-program">
                                            <option value > --------- </option>
                                            {%  for program in programs %}

                                               <option value={{ program.id }} {% if program.id|stringformat:"s" in form.program.value %} selected {% endif %}> {{ program.name }}</option>

                                            {% endfor %}
                                        </select>
                                    {% endwith %}
                                </td>
                                <td class="field-areas">
                                    {{ form.areas.errors.as_ul }}
                                    <div class="field-areas-container">
                                        <ul class="root">
                                            {% with areas|get_item:form.business_area.value as area %}
                                                {% recursetree area %}
                                                    <li>
                                                        <label for="id_program_areas-{{ forloop.counter0 }}-areas_{{ node.id }}">
                                                            <input type="checkbox"
                                                                   name="program_areas-{{ forloop.counter0 }}-areas"
                                                                   value="{{ node.id }}"
                                                                   id="id_program_areas-{{ forloop.counter0 }}-areas_{{ node.id }}"
                                                                    {% if node.id|stringformat:"s" in form.areas.value %}
                                                                   checked {% endif %}
                                                            >
                                                            {{ node }}
                                                        </label>
                                                        {% if not node.is_leaf_node %}
                                                            <ul class="children">
                                                                {{ children }}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endrecursetree %}
                                            {% endwith %}
                                        </ul>
                                    </div>
                                </td>
                                <td class="delete">
                                    {{ form.DELETE }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="form-row empty-form" id="program_areas-empty">
                            <td class="field-business_area">
                                {{ program_area_formset.empty_form.business_area.errors.as_ul }}
                                {{ program_area_formset.empty_form.business_area }}
                            </td>
                            <td class="field-program">
                                {{ program_area_formset.empty_form.program.errors.as_ul }}
                                {{ program_area_formset.empty_form.program }}
                            </td>
                            <td class="field-areas">
                                {{ program_area_formset.empty_form.areas.errors.as_ul }}
                                <div class="field-areas-container">
                                    <ul class="root"></ul>
                                </div>
                            </td>
                            <td>
                                {{ program_area_formset.empty_form.DELETE }}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="add-row add-program_areas-row">
                            <td colspan="4">
                                <a href="#">Add another Program areas</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </fieldset>
            </div>
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}
{% block admin_change_form_document_ready %}{{ block.super }}
    <script>
        $(".add-business_area_role-row a").click(function (event) {
            event.preventDefault();
            const numberOfForms = $(".dynamic-business_area_roles").length;
            const businessAreaRoles = $("#business_area_roles-empty");
            const newRow = businessAreaRoles.clone();

            newRow.removeClass("empty-form");
            newRow.addClass("dynamic-business_area_roles");
            newRow.prop("id", `business_area_roles-${numberOfForms}`);
            newRow.find("select, input").each(function () {
                const id = $(this).attr("id");
                const name = $(this).attr("name");

                if (id) {
                    $(this).attr("id", id.replace(/__prefix__/g, numberOfForms));
                }

                if (name) {
                    $(this).attr("name", name.replace(/__prefix__/g, numberOfForms));
                }
            });
            businessAreaRoles.before(newRow);
            $("#id_business_area_role-TOTAL_FORMS").attr("value", numberOfForms + 1);
        });

        $(".add-program_areas-row a").click(function (event) {
            event.preventDefault();
            const numberOfForms = $(".dynamic-program_areas").length;
            const programAreas = $("#program_areas-empty");
            const newRow = programAreas.clone();

            newRow.removeClass("empty-form");
            newRow.addClass("dynamic-program_areas");
            newRow.prop("id", `program_areas-${numberOfForms}`);
            newRow.find("select, input, ul, label").each(function () {
                const id = $(this).attr("id");
                const name = $(this).attr("name");

                if (id) {
                    $(this).attr("id", id.replace(/__prefix__/g, numberOfForms));
                }

                if (name) {
                    $(this).attr("name", name.replace(/__prefix__/g, numberOfForms));
                }
            });
            programAreas.before(newRow);
            $("#id_program_areas-TOTAL_FORMS").attr("value", numberOfForms + 1);
            $(".dynamic-program_areas .field-business_area select").change(refreshAreas);
        });

        function refreshAreas() {
            $('input[name="refresh-areas"]').attr("value", "true");
            $("#save_permissions").submit();
        }

        function traverseUpTree(node) {
            const parent = node.closest("ul").parentNode.querySelector("input");
            const siblings = Array.from(
                parent
                    .closest("li")
                    .querySelector("ul")
                    .querySelectorAll("input")
            );

            const checkStatus = siblings.map(check => check.checked);
            const every = checkStatus.every(Boolean);
            const some = checkStatus.some(Boolean);

            parent.checked = every;
            parent.indeterminate = !every && every !== some;

            if (node !== parent) {
                traverseUpTree(parent);
            }
        }

        function markChildren(node) {
            node
                .closest("li")
                .querySelectorAll("input")
                .forEach(child => (child.checked = node.checked));
        }

        $(document).ready(function () {
            $('.dynamic-program_areas .field-areas input[type="checkbox"]').each(function (
                _,
                node
            ) {
                traverseUpTree(node);
            });
            $(".dynamic-program_areas .field-business_area select").change(refreshAreas);
        });

        $('.dynamic-program_areas .field-areas input[type="checkbox"]').change(function (
            e
        ) {
            markChildren(e.target);
            traverseUpTree(e.target);
        });
    </script>

{% endblock %}
