{% extends "admin_extra_buttons/action_page.html" %}
{% load admin_modify admin_urls hope i18n static %}
{% block action-content %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}
    {% if enroll_from == 'RDI' %}
        <p style="font-size: small"> Please note that you are not assigning the RDI to the chosen program.
        <br> You are importing RDI’s households to a new program, creating new representations.</p>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="warning-message">
            <input type="hidden" name="action" value={{ action }} />
            <input type="submit" name="acknowledge" value="Acknowledge and Proceed" class="btn btn-default"/>
        </div>

    {% else %}
        <input type="hidden" name="action" value={{ action }} />
        <input type="submit" name="apply" value="Mass enroll to another program" class="btn btn-default"/>
    {% endif %}



</form>
{% endblock action-content %}
