{% extends "admin_extra_buttons/action_page.html" %}
{% load i18n %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if data.users %}
        <h2>{% translate "Users" %}</h2>
        <ul>
            {% for user in data.users %}
                <li><a href="{% url 'admin:account_user_change' user.pk %}">{{ user }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if data.groups %}
        <h2>{% translate "Groups" %}</h2>
        <ul>
            {% for group in data.groups %}
                <li><a href="{% url 'admin:auth_group_change' group.pk %}">{{ group }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if not data.users and not data.groups %}
        <p>{% translate "No users or groups have this permission." %}</p>
    {% endif %}
{% endblock content %}
