{% extends "admin_extra_buttons/action_page.html" %}
{% load admin_modify admin_urls engine i18n mptt_tags static %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    {{ media }}
    {{ business_area_role_formset.media }}
{% endblock extrahead %}

{% block action-content %}
    <form method="POST" id="save_permissions" enctype="multipart/form-data">
        {% csrf_token %}
        {% if can_add_business_area_to_partner %}
            <div class="js-inline-admin-formset inline-group">
                <div class="tabular inline-related last-related">
                    {{ business_area_role_formset.management_form }}
                    <fieldset class="module">
                        <h2>Business Area Roles</h2>
                        <table>
                            <thead>
                            <tr>
                                <th class="column-business_area required">Business area</th>
                                <th class="column-roles required">Roles</th>
                                <th>Delete?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if business_area_role_formset.non_field_errors %}
                                <tr class="row-form-errors">
                                    <td colspan="3">{{ business_area_role_formset.non_field_errors }}</td>
                                </tr>
                            {% endif %}
                            {% for form in business_area_role_formset %}
                                {{ form.management_form }}
                                <tr class="form-row dynamic-business_area_roles"
                                    id="business_area_roles-{{ forloop.counter0 }}">
                                    <td class="field-business_area">
                                        {{ form.business_area.errors.as_ul }}
                                        {{ form.business_area }}
                                    </td>
                                    <td class="field-roles">
                                        {{ form.roles.errors.as_ul }}
                                        {{ form.roles }}
                                    </td>
                                    <td>
                                        {{ form.DELETE }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="form-row empty-form" id="business_area_roles-empty">
                                <td class="field-business_area">
                                    {{ business_area_role_formset.empty_form.business_area.errors.as_ul }}
                                    {{ business_area_role_formset.empty_form.business_area }}
                                </td>
                                <td class="field-roles">
                                    {{ business_area_role_formset.empty_form.roles.errors.as_ul }}
                                    {{ business_area_role_formset.empty_form.roles }}
                                </td>
                                <td>
                                    {{ business_area_role_formset.empty_form.DELETE }}
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="add-row add-business_area_role-row">
                                <td colspan="3">
                                    <a href="#">Add another Business area role</a>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </fieldset>
                </div>
            </div>
        {% endif %}
        <input type="submit" value="Save">
    </form>
{% endblock action-content %}

{% block admin_change_form_document_ready %}{{ block.super }}
    <script>
        $(".add-business_area_role-row a").click(function (event) {
            event.preventDefault();
            const numberOfForms = $(".dynamic-business_area_roles").length;
            const businessAreaRoles = $("#business_area_roles-empty");
            const newRow = businessAreaRoles.clone();

            newRow.removeClass("empty-form");
            newRow.addClass("dynamic-business_area_roles");
            newRow.prop("id", `business_area_roles-${numberOfForms}`);
            newRow.find("select, input").each(function () {
                const id = $(this).attr("id");
                const name = $(this).attr("name");

                if (id) {
                    $(this).attr("id", id.replace(/__prefix__/g, numberOfForms));
                }

                if (name) {
                    $(this).attr("name", name.replace(/__prefix__/g, numberOfForms));
                }
            });
            businessAreaRoles.before(newRow);
            $("#id_business_area_role-TOTAL_FORMS").attr("value", numberOfForms + 1);
        });

    </script>

{% endblock admin_change_form_document_ready %}
