{% extends "admin_extra_buttons/action_page.html" %}

{% block action-content %}
    <table>
        <tr>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <input type="submit">
                </form>
            </td>
            <td><img width="400" src="data:image/jpeg;base64, {{ img }}">
{# {{ imgdata }} #}
{# {{ img }} #}
{# {{ record }} #}
            </td>
        </tr>
    </table>
    <pre>
    {{ content }}
    </pre>
{% endblock action-content %}
