{% load admin_list unfold i18n %}

{% if cl %}
    <div class="px-4 lg:backdrop-blur-xs lg:bg-white/80 lg:flex lg:items-center lg:dark:bg-base-900/80 lg:left-0 lg:right-0 lg:bottom-0 lg:sticky relative z-40 lg:border-t lg:border-base-200 lg:relative lg:scrollable-top lg:dark:border-base-800 {% element_classes 'pagination' %}">
        <div class="py-4 pr-4 text-font-important-light dark:text-font-important-dark font-medium">
            {% blocktranslate count counter=cl.result_count %}{{ counter }} {{ cl.opts.verbose_name }}{% plural %}{{ counter }} {{ cl.opts.verbose_name_plural }}{% endblocktranslate %}
        </div>
        {% pagination cl %}
    </div>
{% endif %}
