{% extends "admin_extra_buttons/action_page.html" %}{% load engine i18n admin_urls static admin_modify %}
{% block content_title %}
    <h1>Payments for: <b>{{ original.name }}</b></h1>

{% endblock %}
{% block action-content %}
    <table width="100%">
        <tr>
            <th>payment</th>
            <th>status</th>
            <th>household</th>
            <th>head_of_household</th>
            <th>target_population</th>
        </tr>
        {% for payment in original.payment_records.all %}
            <tr>
                <td>
                    <a target="_new" href="{% url "admin:payment_paymentrecord_change" payment.pk %}">
                    {{ payment }}
                    </a>
                </td>
                <td>{{ payment.status }}</td>
                <td>
                    <a target="_new" href="{% url "admin:household_household_change" payment.household.pk %}">
                        {{ payment.household }}
                    </a>
                </td>                <td>{{ payment.head_of_household }}</td>
                <td>
                    <a target="_new" href="{% url "admin:targeting_targetpopulation_change" payment.target_population.pk %}">
                        {{ payment.target_population }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
