<style>
    .button.toolbutton{
        margin: 0 3px 0 0 ;
        padding: 5px;
        font-variant: none;
    }
</style>
<div id="{{ widget.attrs.id }}_container">
    <textarea name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
</div>
<script>
    (function ($) {
        var editor;
        var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          ['blockquote', 'code-block'],

          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction

          //[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],

          //['clean']                                         // remove formatting button
        ];
        var options = {
          debug: 'info',
          modules: {
            toolbar: toolbarOptions
          },
          placeholder: 'Compose an epic...',
          theme: 'snow'
        };

        $(document).ready(function () {
            editor = new Quill('#{{ widget.attrs.id }}', options);
        });
    })(django.jQuery);

</script>
