<style>
    .button.toolbutton{
        margin: 0 3px 0 0 ;
        padding: 5px;
        font-variant: none;
    }
</style>
<div id="{{ widget.attrs.id }}_container">
    <div {% include "django/forms/widgets/attrs.html" %}>
    </div>
    <textarea hidden id="django-form-field__description" name="{{ widget.name }}" id="" cols="30" rows="10"></textarea>
</div>
<script>
    (function ($) {
        var editor;
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }, { 'header': 3 }],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            //[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];
        var options = {
          debug: 'error',
          modules: {
            toolbar: toolbarOptions
          },
          placeholder: 'Compose an epic...',
          theme: 'snow'
        };

        $(document).ready(function () {
            editor = new Quill('#{{ widget.attrs.id }}', options);
            editor.on('text-change', function(delta, source) {
                var htmlText = editor.root.innerHTML;
                document.getElementById('django-form-field__description').textContent = htmlText;
            });
            editor.pasteHTML($("<textarea/>").html("{{ widget.value }}").text());
        });
    })(django.jQuery);

</script>
