{% extends "admin_extra_buttons/change_form.html" %}{% load admin_urls engine i18n static %}

{% block object-tools-items %}
{# removes standard django buttons #}
    {% include "admin_extra_buttons/includes/change_form_buttons.html" %}
    <li>{{ original.latest.version|default_if_none:"No release" }}</li>
{% endblock object-tools-items %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
    <input type="submit" value="{% translate 'Save and continue editing' %}" name="_continue">
    <input type="submit" value="{% translate 'Release' %}" name="_save">
    {% if not is_popup and has_delete_permission and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a></p>
    {% endif %}
    </div>
{% endblock submit_buttons_bottom %}

{% block admin_change_form_document_ready %}{{ block.super }}
    <style>
        a.btn-action.disabled {
            background-color: lightgray;
        }
        .CodeMirror {
            font-size: 16px;
         }
    </style>
    <script>
        window.addEventListener('load', function () {
            var fieldsets = document.querySelectorAll('fieldset.collapse.open');
            for (var i = 0; i < fieldsets.length; i++) {
                var elem = fieldsets[i];
                elem.classList.remove('collapsed');
                var link = elem.querySelector('h2>a');
                link.textContent = gettext('Hide');
            }
        });
    </script>
    <script type="text/javascript">
        if ('undefined' !== typeof(django)) {
            // supplement focus prototype for Django's old jQuery
            django.jQuery.expr[':'].focus = function( elem ) {
                return elem === document.activeElement && ( elem.type || elem.href );
            };
            django.jQuery(document).keydown(function(e) {
                // only do J/K nav on result lists and when the search field isn't focused
                var do_jk_nav = django.jQuery('#result_list').length && django.jQuery('input:focus').length == 0;
                if ((e.ctrlKey || e.metaKey) && (e.which === 83 || e.which === 115)) { // s or S
                    e.preventDefault();
                    django.jQuery("input[name='_continue']").click();
                    return false;
                }
                if ((e.ctrlKey || e.metaKey) && (e.which === 80)) { // s or S
                    django.jQuery("#btn-preview").click();
                    e.preventDefault();
                    return false;
                }
            });
        }
    </script>
{% endblock admin_change_form_document_ready %}
