{% extends "admin_extra_buttons/action_page.html" %}{% load admin_modify admin_urls engine i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/diff.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/steficon/code.css" %}">
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/collapse.js" %}"></script>
    <style>
        .local-tools {
            position: relative;
            top: 50px;
            height: 50px;
        }
    </style>
{% endblock extrastyle %}

{% block action-content %}
    <table>
        <tr>
            <td style="width: 95%">
                <div class="local-tools">
                    <ul class="object-tools">
                        <li>{% if state.prev %}
                            <a class="btn btn-success" href="?state_pk={{ state.prev.id }}"><< prev
                                #{{ state.prev.version }}</a>
                        {% else %}
                            <a class="btn extra-link btn-link disabled" href="#"><< prev 111</a>
                        {% endif %}
                        </li>
                        <li>#{{ state.version }}</li>
                        <li>
                            {% if state.next %}
                                <a class="btn btn-success"
                                   href="?state_pk={{ state.next.id }}">#{{ state.next.version }} next >></a>
                            {% else %}
                                <a class="btn extra-link btn-link disabled" href="#">next >></a>
                            {% endif %}
                        </li>
                        <li><a id="btn-{{ options.method }}"
                               href="{% url 'admin:steficon_rule_revert' original.pk state.pk %}"
                               style="background-color:rgba(222,87,87,0.85)"
                               class="btn extra-link">Revert</a>
                        </li>
                    </ul>
                </div>
                <fieldset class="module collapse open">
                    <h2>Diff with current code</h2>
                    <div class="code d-none" id="tab-diff">
                        {{ state|diff:"after,current" }}
                    </div>
                </fieldset>
                <fieldset class="module aligned collapse">
                    <h2>Commit changes</h2>
                    <div class="code d-none" id="tab-diff">
                        {{ state|diff:"before,after" }}
                    </div>
                </fieldset>
            </td>
            <td style="display:block; width: 100px">
                {% for s in original.history.all %}
                    <div>{% if s.id == state.id %}
                        <b>{{ s.timestamp|date:"d, M Y" }}</b>
                    {% else %}
                        <a href="?state_pk={{ s.id }}">#{{ s.version }} {{ s.timestamp|date:"d, M Y" }}</a>
                    {% endif %}

                    </div>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock action-content %}

{% block document_ready %}{{ block.super }}
    <script>
        window.addEventListener("load", function () {
            var fieldsets = document.querySelectorAll("fieldset.collapse.open");
            for (var i = 0; i < fieldsets.length; i++) {
                var elem = fieldsets[i];
                elem.classList.remove("collapsed");
                var link = elem.querySelector("h2>a");
                link.textContent = gettext("Hide");
            }
        });
    </script>
{% endblock document_ready %}
