name: "Documentation"

on:
  push:
    branches:
    - develop
  schedule:
    - cron: '37 23 * * 2'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  changes:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    defaults:
      run:
        shell: bash
    outputs:
      docs: ${{ steps.changed_files.outputs.docs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - id: changed_files
        name: Check for file changes
        uses: dorny/paths-filter@v3
        with:
          base: ${{ github.ref }}
          token: ${{ github.token }}
          filters: .github/file-filters.yml
  generate:
    name: Generate
    if: needs.changes.outputs.docs == 'true'
    needs: changes
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: src/
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7

      - uses: actions/cache/restore@v5
        id: restore-cache
        with:
          path: .venv
          key: ${{ runner.os }}-${{ hashFiles('**/uv.lock') }}

      - name: Install dependencies
        run: uv sync --group docs

      - name: Build Doc
        run: .venv/bin/mkdocs build -d ./docs-output

      - uses: actions/cache/save@v5
        id: cache
        if: always() && steps.restore-cache.outputs.cache-hit != 'true'
        with:
          path: .venv
          key: ${{ runner.os }}-${{ hashFiles('**/uv.lock') }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs-output

  # Deployment job
  deploy:
    needs: generate
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
