on:
  workflow_run:
    workflows: ["CI_NEW"]
    types: [completed]
    branches:
      - develop
      - staging
      - master
      - ephemeral-*
      - feature/development-improvements

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name }}
    steps:
      - name: Trigger deploy
        run: |
          if [ -z "$AZURE_PIPELINE_ID" ]; then
            echo "âŒ ERROR: $AZURE_PIPELINE_ID must be set" >&2
            exit 1
          fi
          
          IFS=',' read -ra pipelines <<< "$AZURE_PIPELINE_ID"
          for pipeline in "${pipelines[@]}"; do
            jsonBody='{"variables": {"sha": {"isSecret": false, "value": "${{ github.sha }}"}, "tag": {"isSecret": false, "value": "core-${{ github.sha }}"}}}'
            contentLength=$(echo -n $jsonBody | wc -c)
            project=ICTD-HCT-MIS
            organization=unicef
          
            echo Triggering deploy for pipeline $pipeline
            echo JSON body: $jsonBody
          
            curl -v -L \
              -u ":${{ secrets.AZURE_PAT }}" \
              -H "Content-Type: application/json" \
              -H "Content-Length: $contentLength" \
              -d "$jsonBody" \
              https://dev.azure.com/$organization/$project/_apis/pipelines/$pipeline/runs?api-version=7.1-preview.1
            if [ $? -ne 0 ]; then
              echo "Failed to trigger deploy for pipeline $pipeline"
              exit 1
            fi
          done