name: Nightly E2E Tests

on:
  schedule:
    # Run at 2:00 AM every day
    - cron: '0 2 * * *'

jobs:
  e2e_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: DockerHub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Latest Docker Images
        run: |
          docker pull ${{ vars.DOCKERHUB_ORGANIZATION }}/hope-support-images:core-develop-latest-dist
          docker pull ${{ vars.DOCKERHUB_ORGANIZATION }}/hope-support-images:core-develop-latest-dev

      - name: Run Selenium Nightly E2E tests
        run: |
          dist_backend_image=${{ vars.DOCKERHUB_ORGANIZATION }}/hope-support-images:core-develop-latest-dist \
          dev_backend_image=${{ vars.DOCKERHUB_ORGANIZATION }}/hope-support-images:core-develop-latest-dev \
          docker compose \
            -f ./deployment/docker-compose.selenium-night.yml \
            run selenium

      - name: Upload Nightly Test Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        continue-on-error: true
        with:
          name: nightly-e2e-report
          path: ./backend/report/
          retention-days: 5

      - name: Upload Nightly Coverage to Codecov
        uses: codecov/codecov-action@v4
        if: always()
        continue-on-error: true
        with:
          files: ./backend/coverage.xml
          flags: nightly-e2e
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
