.dc-chart {
    width: 100%;
    height: 100%;
}
.dc-chart .deselected { opacity: 0.3; }
.dc-chart text {
    fill: black !important;
    font-weight: bold !important;
    overflow-x: auto;
}
.dc-chart .row text {
    white-space: pre-wrap;
    font-size: 0.85rem;
    overflow-wrap: break-word;
    max-width: 180px;
}
.max-w-7xl { width: 100%; margin: 0 auto; }
.main-content { padding: 20px; transition: margin-left 0.3s ease-in-out; }
.icon-blue { color: #1CABE2; }
.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

h3 {
    margin-bottom: 5px;
}

.text-cyan-700 {
    color: #1CABE2; /* Tailwind's default cyan-700 hex code */
}
